{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ 'platformd.layout.top_menu.contact' | trans }}{% endblock %}

{% block content %}
<div class="contact col1">
    <h1 class="margin-bottom">{{ 'platformd.layout.top_menu.contact' | trans }}</h1>

    <p><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/email.png') }}" width="32" height="32" alt="" class="valign"> <strong>Email us at:</strong> <a href="mailto:info@MarketingCamp.org">info@MarketingCamp.org</a></p>

    <p><a href="http://en.twitter.com/MarketingCampSF" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/twitter.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Twitter"></a> <strong>Twitter:</strong> <a href="http://en.twitter.com/MarketingCampSF" target="_blank">@MarketingCampSF</a>&nbsp;&nbsp;|&nbsp;&nbsp;Hashtag: #MCSF</p>

    <p><a href="https://www.facebook.com/MarketingCampSF" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/facebook.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Facebook"></a> <strong>Facebook:</strong> <a href="https://www.facebook.com/MarketingCampSF" target="_blank">www.facebook.com/MarketingCampSF</a></p>

    <!-- <p><a href="https://plus.google.com/u/0/b/103471940417998857276/103471940417998857276/posts" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/google-plus.png') }}" alt="Follow MarketingCamp San Francisco on Google Plus" width="32" height="32"></a> <strong>Google Plus:</strong> <a href="https://plus.google.com/u/0/b/103471940417998857276/103471940417998857276/posts" target="_blank">https://plus.google.com/u/0/b/103471940417998857276/103471940417998857276/posts</a></p> -->

    <p><a href="http://www.linkedin.com/groups/MarketingCamp-Silicon-Valley-4502494?gid=4502494&amp;mostPopular=&amp;trk=tyah" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/linkedin.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Linkedin"></a> <strong>Linkedin:</strong> <a href="http://www.linkedin.com/groups/MarketingCamp-Silicon-Valley-4502494?gid=4502494&amp;mostPopular=&amp;trk=tyah" target="_blank">www.linkedin.com/groups/MarketingCamp-Silicon-Valley-4502494?gid=4502494&amp;mostPopular=&amp;trk=tyah</a></p>

    <p><a href="http://www.youtube.com/user/MarketingCamp" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/youtube.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on YouTube" class="valign"></a> <strong>YouTube:</strong> <a href="http://www.youtube.com/user/MarketingCamp" target="_blank">www.youtube.com/user/MarketingCamp</a></p>

    <!-- <p><a href="http://www.flickr.com/photos/MCSV" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/flickr.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Flickr" class="valign"></a> <strong>Flickr:</strong> <a href="http://www.flickr.com/photos/MCSV" target="_blank">www.flickr.com/photos/MCSV</a></p> -->

    <p><a href="http://www.slideshare.net/marketingcampsf" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/slideshare.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Slideshare"></a> <strong>Slideshare:</strong> <a href="http://www.slideshare.net/marketingcampsf" target="_blank">http://www.slideshare.net/marketingcampsf</a></p>

    <!-- <p><a href="https://foursquare.com/marketingcampsv" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/foursquare.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Four Square" class="valign"></a> <strong>Four Square:</strong> <a href="https://foursquare.com/marketingcampsv" target="_blank">foursquare.com/user/30355232</a></p> -->

</div>

{% endblock %}
