{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}
{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %} Manage Gallary {% endblock %}

{% block content %}

    <div class="widget-100" id="avatar-panel">
        <div class="widget-header">
            <div class="widget-title">
                <h2 style="float:left;">Manage Gallary</h2>
            </div>
            
            
            <div class="clear"></div>
        </div>
        <div class="widget-content">

            
             <div class="clear"></div>

            <div id="add-avatar-panel">

                <hr class="faded" />

                <div>{{ 'platformd.user.gallary.file_instructions' | pd_trans | nl2br }}</div>

                <div id="add-avatar-form">
                    <form action="{{ path('group_event_gallary', {'eventSlug':data['eventSlug'], 'groupSlug':data['groupSlug'] } )   }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
                        {{ form_row(form.file) }}
                        {{ form_rest(form) }}
                        <div class="form-actions">
                            <button id="submit-avatar" type="submit" class="btn btn-primary" formnovalidate>Upload</button>
                        </div>
                    </form>
                </div>

            </div>
          

        </div>
        <div class="widget-footer">
            &nbsp;
        </div>
    </div>

    <script type="text/javascript">

        var ajaxRequestSent;

        $('#submit-avatar').click(function () {
            $('#avatar-panel').block({
                    message: '<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />',
                    css: {
                        border: 'none',
                        background: 'transparent'
                    }
                });
        });

        $('#add-avatar').click(function() {
            $('#add-avatar-panel').slideDown();
        });

        $('div.avatar-wrapper').each(function() {
            $(this).bind( "mouseover", function() {
                $('#' + this.id + ' > .delete').show();
            });

            $(this).bind( "mouseout", function() {
                $( '#' + this.id + '> .delete').hide();
            });
        });

        $('.avatar-wrapper > .delete').click(function() {
            if (!confirm("{{ 'platformd.user.avatars.confirm_delete' | pd_trans }}") || ajaxRequestSent) {
                return false;
            }

            var id = this.id;
            ajaxRequestSent = true;

            $.ajax({
                url: '{{ path('avatar_delete') }}',
                type: 'post',
                data: JSON.stringify({'id' : this.id}),
                controlstentType: 'application/json',
                success: function (data) {
                    if (data.success) $('#avatar-' + id).fadeOut();
                    ajaxRequestSent = false;
                }
            });
        });

    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.Jcrop.min.js"></script>
{% endblock %}
