{% extends 'SpoutletBundle::layout.html.twig' %}
{% form_theme form 'EventBundle::form_theme.html.twig' %}

{% block title event.name %}

{% block content %}

    <div id="event-contact-page">

        <div class="std_1col" style="padding:0;">
            {% if event.bannerImage %}
                <div id="event-banner" style="background:url('{{ media_path_nice(event.bannerImage) }}') top left no-repeat; background-size: 100% 100%;"></div>
            {% else %}
                <div id="event-default-banner"></div>
            {% endif %}
        </div>

        <div class="std_1col" style="padding: 0;">
            <div class="sub-nav-wrapper events-sub-nav-wrapper">
               <div class="sub-nav events-sub-nav">
                    <ul>
                        {% if app.user == event.user or (app.user is not null and app.user.adminLevel == 'ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path("group_event_edit", { 'eventId': event.id, "groupSlug": event.group.slug }) }}">{{ 'platformd.events.event_show.edit_event' | pd_trans }}</a></li>
                            {% if event.registrationOption == "REGISTRATION_ENABLED" %}
                                <li><a href="{{ path("group_event_attendees", event.getLinkableRouteParameters) }}">{{ 'platformd.events.event_show.manage_attendees' | pd_trans }}</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{{ path(group.getLinkableRouteName, group.getLinkableRouteParameters) }}">Group Home</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="std_2col" style="min-height: 500px; margin-top: 10px;">
            <div class="left">
                <div class="widget-66">
                    <div class="widget-header" style="padding-bottom:10px;">
                        <div class="widget-title">
                            <div id="event-contact-title">{{ 'platformd.events.event_contact.title' | pd_trans }}</div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <form id="event-contact-form" action="{{ path('group_event_contact', event.linkableRouteParameters) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                            {{ form_widget(form) }}
                            <div class="form-actions" style="padding-left: 100px;">
                                <button type="submit" id="preview" class="btn btn-primary" formnovalidate>{{ 'platformd.events.event_contact.preview' | pd_trans }}</button>
                                <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 10px;" formnovalidate>{{ 'platformd.events.event_contact.send' | pd_trans }}</button>
                                <button id="cancel" class="btn btn-primary" rel="{{ path('groups') }}" style="margin-left: 10px;">{{ 'platformd.events.event_contact.cancel' | pd_trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="right">

                <div class="widget-33" id="event-details-widget" style="height: auto;">
                    <div class="widget-header">
                        <div class="widget-title">{{ event.attendeeCount }} {{ 'platformd.events.event_contact.attending' | pd_trans }}</div>
                    </div>
                    <div class="widget-content">

                        <div id="event-attendee-list">
                            <hr class="faded" />
                            <div class="event-attendee">
                                <div class="event-hover-div"></div>
                                {% if get_avatar_url(event.user, 48) != false %}
                                    <img src="{{ asset(get_avatar_url(event.user, 48)) }}" alt="{{ event.user.username }}" />
                                {% else %}
                                    <div class="default-avatar avatar48"></div>
                                {% endif %}
                                <a href="javascript:void(0);"><span class="username">{{ event.user.username }}</span></a>
                                <span id="event-host-tag">Event Host</span>
                            </div>
                            {% for attendee in event.attendees %}
                                {% if event.user != attendee %}
                                    <hr class="faded" />
                                    <div class="event-attendee">
                                        <div class="event-hover-div"></div>
                                        {% if get_avatar_url(attendee, 48) != false %}
                                            <img src="{{ asset(get_avatar_url(attendee, 48)) }}" alt="{{ attendee.username }}" />
                                        {% else %}
                                            <div class="default-avatar avatar48"></div>
                                        {% endif %}
                                        <a href="javascript:void(0);"><span class="username">{{ attendee.username }}</span></a>
                                    </div>
                                {% endif %}
                            {% else %}
                            {% endfor %}
                            <hr class="faded" />
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#preview').click(function(){
                $('#event-contact-form').attr('action', '{{ path('group_event_email_preview', event.linkableRouteParameters) }}');
                $('#event-contact-form').attr('target', '_blank');
            });

            $('#submit').click(function(){
                $('#event-contact-form').attr('action', '{{ path('group_event_contact', event.linkableRouteParameters) }}');
                $('#event-contact-form').removeAttr('target');
            });

            $('#cancel').click(function(e){
                e.preventDefault();
                var url = {% if event.externalUrl %}'{{ path("group_show", { "slug": group.slug }) ~ "#events" }}'{% else %}'{{ event | pd_link }}'{% endif %};
                document.location.href = url;
            });

            $('.event-attendee').hover(function() {
                $(this).children('.event-hover-div').show();
            },
            function() {
                $(this).children('.event-hover-div').hide();
            });

            $('.event-attendee').click(function() {
                var username = $.trim($(this).find('.username').text());
                var recipients = [];

                if ($('#form_users').val()) {
                    recipients = $('#form_users').val().split(',');
                }

                if ($.inArray(username, recipients) < 0) {
                    if ($('#form_users').val()) {
                        $('#form_users').val($('#form_users').val() + ',' + username);
                    } else {
                        $('#form_users').val(username);
                    }

                }

            });

        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'EventBundle::_css_assets.html.twig' %}
{% endblock %}
