<div id="footer">
    <a name="sitemap"></a>
    <div id="ftr-content">
        <div class="ftrcol">
            <h5>About</h5>
            <ul>
                <li><a href="{{ path('about') }}">About MarketingCamp</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'mission' }) }}">Mission</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'leadership-team' }) }}">Leadership Team</a></li>

                <li class="spcr-t"><a href="{{ path('contact') }}">Contact Us</a></li>
                <li><a href="{{ path('default_index') }}">Home</a></li>
            </ul>
        </div>
        <div class="ftrcol">
            <h5>Event FAQs</h5>
            <ul>
                <li><a href="{{ path('html_widget_page', { 'slug': 'event-overview' }) }}">Event Overview</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'what-to-expect' }) }}">What to Expect</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'what-to-bring' }) }}">What to Bring</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'more-faqs' }) }}">More FAQs</a></li>
                <li><a class="text-error" href="{{ path('html_widget_page', { 'slug': 'session-schedule' }) }}">Session Schedule</a></li>
            </ul>
        </div>
        <div class="ftrcol">
            <h5>Get Involved</h5>
            <ul>
                <li><a href="{{ path('html_widget_page', { 'slug': 'propose-a-topic' }) }}">How to Propose a Topic</a></li>
                <li><a href="http://marketingcamp.uservoice.com/forums/193848-welcome-camper-san-francisco-2013-">Vote on Topics</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'sign-up-to-volunteer' }) }}">Sign Up to Volunteer</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'become-a-sponsor' }) }}">Become a Sponsor</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'spread-the-word' }) }}">Spread the Word</a></li>
                <li><a class="text-error" href="{{ path('html_widget_page', { 'slug': 'start-your-own-camp' }) }}">Start Your Own Camp</a></li>
            </ul>
        </div>
        <div class="ftrcol">
            <h5>What&#8217;s New</h5>
            <ul>
                <li><a href="{{ path('html_widget_page', { 'slug': 'social-mediakit' }) }}">Social Mediakit</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'press-releases' }) }}">Press Releases</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'news-updates' }) }}">News &amp; Updates</a></li>
            </ul>

            <ul>
                <li><a href="{{ path('global_events_index') }}">RSVP</a></li>
                <li><a href="{{ path('html_widget_page', { 'slug': 'become-a-sponsor' }) }}">SPONSOR</a></li>
            </ul>
        </div>
        <div id="contactNfo" class="divrt">
            <h5>Contact Us</h5>

            <p><a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#64;&#77;&#97;&#114;&#107;&#101;&#116;&#105;&#110;&#103;&#67;&#97;&#109;&#112;&#46;&#111;&#114;&#103;">&#105;&#110;&#102;&#111;&#64;&#77;&#97;&#114;&#107;&#101;&#116;&#105;&#110;&#103;&#67;&#97;&#109;&#112;&#46;&#111;&#114;&#103;</a></p>

            <p>Twitter Handle<br>
            @MarketingCampSF<br>
            #MCSF<br>
            <!-- <a href="http://twitterfall.com/?trend=%23mcsv!%23322337&trend=@MarketingCampSV!%23280A5A&trend=@MarketingHero!%23322337&trend=MarketingCamp!%23864C19&trend=MCSV!%23492505" target="_blank">Twitterfall</a> --></p>

            <p>Follow us on<br>
            <a href="http://en.twitter.com/MarketingCampSF" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/twitter.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Twitter"></a>
            <a href="https://www.facebook.com/MarketingCampSF" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/facebook.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Facebook"></a>
            <a href="https://plus.google.com/u/0/b/103471940417998857276/103471940417998857276/posts" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/google-plus.png') }}" alt="Follow MarketingCamp San Francisco on Google Plus" width="32" height="32"></a>
            <a href="http://www.linkedin.com/groups/MarketingCamp-Silicon-Valley-4502494?gid=4502494&mostPopular=&trk=tyah" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/linkedin.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Linkedin"></a><br>
            <a href="http://www.youtube.com/user/MarketingCamp" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/youtube.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on YouTube"></a>
            <!-- <a href="www.flickr.com/photos/MCSV" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/flickr.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Flickr"></a> -->
            <a href="http://www.slideshare.net/marketingcampsf" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/slideshare.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Slideshare"></a>
            <!-- <a href="https://foursquare.com/marketingcampsv" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/foursquare.png') }}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Four Square"></a> -->
            <a href="{{ path('news') }}" target="_blank"><img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/blog-b.png') }}" width="32" height="32" alt=""> <strong>Read Our Blog!</strong></a></p>

        </div>

        <br class="clr" />

        <div id="credit">
            Site created by <a href="http://www.takeflightgraphics.com" target="_blank">Take Flight Graphics</a> <img src="{{ asset('/themes/' ~ site.theme ~ '/spoutlet/img/icon-tfg.png') }}" width="14" height="8" alt="Take Flight Graphics"></a>
        </div>
        <div id="copyright">
            <script language="JavaScript">document.write(include_copyright(2012));</script>
        </div>
    </div><!-- end footer content -->
</div><!-- end footer -->
