<!DOCTYPE HTML>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/ckeditor/';
		</script>

        <link rel="shortcut icon" type="image/png" href="{{ asset('themes/marketingcamp/spoutlet/img/favicon.ico') }}">

        {% block open_graph %}{% endblock %}

        {# Here we include assets for the current active theme #}
        {% include '::theme_' ~ site.theme ~ '_assets.html.twig' ignore missing %}

        {{ block('javascripts') }}
        {{ block('stylesheets') }}

        <script type="text/javascript">
            $(document).ready(function(){
                $("ul.sf-list").supersubs({
                    minWidth:    10,   // minimum width of submenus in em units
                    maxWidth:    27,   // maximum width of submenus in em units
                    extraWidth:  1     // extra width can ensure lines don't sometimes turn over
                                       // due to slight rounding differences and font-family
                }).superfish({
                    delay:      150,
                    animation:  {opacity:'show',height:'show'},
                    speed:      'fast'
                });

                $('.tablesorter').tablesorter();

                // clearing overlay defaults so they can be loaded in from css (div.blockOverlay)
                $.blockUI.defaults.overlayCSS = {};
                $.fn.qtip.defaults.style.classes = 'qtip-green qtip-shadow qtip-rounded';
            });
        </script>

        {% if features.hasGoogleAnalytics and config.googleAnalyticsAccount %}
            {% include 'SpoutletBundle:Default:_prep_google_dfp.html.twig' %}
            {% include 'SpoutletBundle::_analytics.html.twig' %}
        {% endif %}

        <title>
            {%- if block('title') -%}
                {{ block('title') }} | MarketingCamp
            {%- else -%}
                MarketingCamp
            {%- endif -%}
        </title>
	</head>
	<body>
        {% if features.hasFacebook and config.facebookAppId %}
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script>
          // assume we are already logged in
          FB.init({appId: '{{ config.facebookAppId }}', xfbml: true, cookie: true});
        </script>
        {% endif %}

		<div id="wrapper-ht">

            {% include 'SpoutletBundle::header.html.twig' %}
            {% include 'SpoutletBundle::navigation.html.twig' %}

                <div id="content">
                    {% block pre_content_nav %}{% endblock %}

                    {% if app.session.hasFlash('error') %}
                        {% set sessionFlashType = 'error' %}
                    {% elseif (app.session.hasFlash('success')) %}
                        {% set sessionFlashType = 'success' %}
                    {% else %}
                        {% set sessionFlashType = block('flash_type') %}
                    {% endif %}

                    {% if  sessionFlashType %}
                        <div class="xnotices">
                            <div class="{{ sessionFlashType }}Notice notice">
                                <div class="pad">
                                    <div class="pad2">
                                        <div class="pad3">
                                            <div class="pad4">
                                                {#
                                                    funny, I had to set this as a variable - concatenating
                                                    and translating the string all in one line was a fail
                                                #}
                                                {% set flashTitleKey = 'platformd.flash.'~sessionFlashType~'_title' %}
                                                <h3>
                                                    {{ flashTitleKey | trans }}
                                                </h3>

                                                {% if app.session.getFlash(sessionFlashType) %}
                                                    <p>
                                                        {{ app.session.getFlash(sessionFlashType) | trans }}
                                                    </p>
                                                {% else %}
                                                    {{ block('flash') }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="clear"></div>
                    {% block content %}{% endblock %}
                    <div class="clear"></div>
                </div>

                {% include 'SpoutletBundle::footer.html.twig' %}
	        </div>
	    </div>
	</body>
</html>
