<div id="nav-wrapper"> <!-- begin navbar -->
    <div id="nav">
        <ul class="sf-menu sf-js-enabled sf-list" id="nav-list">
            <li><a href="{{ path('about') }}">About</a></li>

            {% if features.hasEvents %}
                <li class="more">
                    <a>Events</a>
                    <ul>
                        <li><a href="{{ path('global_events_index') }}">Events</a></li>
                        <li><a href="{{ path('html_widget_page', { 'slug': 'event-overview' }) }}">Event Overview</a></li>
                        <li><a href="{{ path('html_widget_page', { 'slug': 'what-to-expect' }) }}">What to Expect</a></li>
                        <li><a href="{{ path('html_widget_page', { 'slug': 'what-to-bring' }) }}">What to Bring</a></li>
                        <li><a href="{{ path('html_widget_page', { 'slug': 'more-faqs' }) }}">More FAQs</a></li>
                        <li><a class="text-error" href="#">Session Schedule</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if features.hasGroups %}
                <li class="more">
                    <a>{{ 'platformd.layout.main_menu.groups' | trans }}</a>
                    <ul>
                        <li>
                            <a href="{{ path('groups') }}">All Groups</a>
                        </li>
                        <li>
                            <a href="{{ path('accounts_groups') }}">My Groups</a>
                        </li>
                        <li>
                            <a href="{{ path('group_new') }}">Create Group</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            <li><a href="{{ path('html_widget_page', { 'slug': 'sponsors' }) }}">Sponsors</a></li>

            <li class="more">
                <a>What's New</a>
                <ul>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'social-mediakit' }) }}">Social Mediakit</a></li>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'press-releases' }) }}">Press Releases</a></li>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'news-updates' }) }}">News &amp; Updates</a></li>
                </ul>
            </li>

            <li class="more">
                <a>Get Involved</a>
                <ul>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'propose-a-topic' }) }}">How to Propose a Topic</a></li>
                    <li><a href="http://marketingcamp.uservoice.com/forums/193848-welcome-camper-san-francisco-2013-">Vote on Topics</a></li>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'sign-up-to-volunteer' }) }}">Sign Up to Volunteer</a></li>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'become-a-sponsor' }) }}">Become a Sponsor</a></li>
                    <li><a href="{{ path('html_widget_page', { 'slug': 'spread-the-word' }) }}">Spread the Word</a></li>
                    <li><a class="text-error" href="{{ path('html_widget_page', { 'slug': 'start-your-own-camp' }) }}">Start Your Own Camp</a></li>
                </ul>
            </li>

        </ul>

    </div> <!-- end nav -->
</div> <!-- end nav-wrapper -->
